# Auto detect text files and perform LF normalization
* text=auto
thirdparty/gui/qt/qt-5.12.9.tar.xz filter=lfs diff=lfs merge=lfs -text
thirdparty/gui/qt/qt-5.12.9-prebuilt_glibc_32bit.tar.gz filter=lfs diff=lfs merge=lfs -text
thirdparty/gui/qt/qt-5.12.9-prebuilt_glibc_64bit.tar.gz filter=lfs diff=lfs merge=lfs -text
thirdparty/gui/qt/qt-5.12.9-prebuilt_glibc_64bit_mali.tar.gz filter=lfs diff=lfs merge=lfs -text
thirdparty/gui/qt/qt-5.12.9-prebuilt_musl_64bit.tar.gz filter=lfs diff=lfs merge=lfs -text
